.profile-pic {
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 0;
    width: 100%;
    max-width: 300px;

    /* Rotate img */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}
@media screen and (max-width: 640px) {
    .profile-pic {
        margin-top: 36px;
    }
}



.container {
    overflow:hidden;
    height: 36vh;
    width: 100%;
    text-align: justify;
}
.shaped {
    float:left;
    height:36vh;
    width:40vw;
    float:right;
    background: black url(http://sarasoueidan.com/demos/css-shapes-layouts/demo-1/images/eiffel.jpg) center top no-repeat;
    background-size:cover;
    /* -webkit-shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%); */
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    -webkit-shape-margin: 20px;
    -webkit-shape-outside: url(http://sarasoueidan.com/demos/css-shapes-layouts/demo-1/css/mask.png) top left;
    shape-outside: url(http://sarasoueidan.com/demos/css-shapes-layouts/demo-1/css/mask.png) top left;
}
.content h1 {
    font-family: 'deconeuelight', sans-serif;
    font-size: 85px;
    line-height: 1;
    float: left;
    width: 308px;
    height: 127vh;
    margin-top: 0;
    padding-top: 20px;
    -webkit-shape-outside: polygon(0 0, 100% 0, 40% 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 0, 40% 100%, 0 100%);
}
.content span {
    font-size:45px;
}




.toolkit h4 {
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    position: absolute;
    top: 17px;
    left: 23px;
}
.toolkit h4 i {
    margin-right: 6px;
}
.toolkit ul.tool-list {
    margin-top: 45px;
}
.toolkit ul.tool-list li {
    padding-bottom: 0 !important;
}
.toolkit ul.tool-list li .panel {
    background-color: #FFFFFF;
    min-height: 218px;
    position: relative;
}
@media screen and (max-width: 640px) {
    .toolkit ul.tool-list li .panel {
        min-height: auto;
    }
}
.toolkit ul.tool-list li .panel h5 {
    font-weight: bold;
    font-size: 14px;
}
.toolkit ul.tool-list li .panel p {
    font-size: 14px;
}
.toolkit ul.tool-list li .panel .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.toolkit ul.tool-list li .panel.design h5, .toolkit ul.tool-list li .panel.design  b {
    color: #FF7324;
}
.toolkit ul.tool-list li .panel.front-end h5, .toolkit ul.tool-list li .panel.front-end b {
    color: #408A8D;
}
.toolkit ul.tool-list li .panel.tools h5, .toolkit ul.tool-list li .panel.tools b {
    color: #2D631E;
}
.toolkit ul.tool-list li .panel.non-technical h5, .toolkit ul.tool-list li .panel.non-technical b {
    color: #9A2339;
}