/*------------------------------------------------------
    FOLIO
--------------------------------------------------------*/
.portfolio {
    .folio-filters {
        width: 100%;
        li {
            display: inline-block;
            margin-left: 10px;
            &.current a {
                background-color: teal;
                color: white;
            }
        }
    }
    .folio-item {
        text-align: center;

    }
    .img-thumbnail:not(.materialboxed) {
        border-radius: 0;
        padding: 8px;
        display: inline-block;
        max-width: 100%;
        height: auto;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
            -ms-transform: rotate(1deg);
            -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
        }
    }
    .img-thumbnail.materialboxed {
        width: 100%;
    }

    .modal {
        width: 80%;
        .slider .slides {
            background-color: #FFFFFF;
            li img {
                height: 100%;
                width: 100%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}
