/*------------------------------------------------------
    TITLE Circle Text
--------------------------------------------------------*/
h1.circle-text {
    font-size: 60px;
    color: #FFFFFF;
    position: absolute;
    top: 28%;
    left: 50%;
    span {
        font-size: 65px;
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
        text-shadow: 2px 2px 2px #202020;
        height: 375px;
        position: absolute;
        width: 20px;
        left: 0;
        top: 0;
        transform-origin: bottom center;
        @media only screen and (max-width : 600px) {
            font-size: 33px;
            height: 240px;
        }
        @media only screen and (max-width : 391px) {
            font-size: 26px;
            height: 180px;
        }
        @media only screen and (max-width : 300px) {
            font-size: 26px;
            height: 168px;
        }
    }
}
h2.title {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #202020;
}
h4.title {
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #202020;
}
.char1 {
    transform: rotate(-48deg);
}
.char2 {
    transform: rotate(-42deg);
}
.char3 {
    transform: rotate(-36deg);
}
.char4 {
    transform: rotate(-30deg);
}
.char5 {
    transform: rotate(-24deg);
}
.char6 {
    transform: rotate(-18deg);
}
.char7 {
    transform: rotate(-12deg);
}
.char8 {
    transform: rotate(-6deg);
}
.char9 {
    transform: rotate(0deg);
}
.char10 {
    transform: rotate(6deg);
}
.char11 {
    transform: rotate(12deg);
}
.char12 {
    transform: rotate(18deg);
}
.char13 {
    transform: rotate(24deg);
}
.char14 {
    transform: rotate(30deg);
}
.char15 {
    transform: rotate(36deg);
}
.char16 {
    transform: rotate(42deg);
}
.char17 {
    transform: rotate(48deg);
}

/*------------------------------------------------------
    ROTATING WORDS
--------------------------------------------------------*/
// .rw-wrapper{
//     width: 80%;
//     position: relative;
//     padding: 10px;
// }
// .rw-sentence{
//     font-family: 'Bad Script', cursive;
//     text-align: center;
//     font-size: 20px;
//     margin: 0;
// }
// .rw-sentence span{
//     color: #F0F2D2;
//     font-weight: normal;
// }
// .rw-words{
//     display: inline;
//     text-indent: 10px;
// }
// .rw-words-1 span{
//     position: absolute;
//     opacity: 0;
//     overflow: hidden;
//     color: #6b969d;
//     -webkit-animation: rotateWord 18s linear infinite 0s;
//     -ms-animation: rotateWord 18s linear infinite 0s;
//     animation: rotateWord 18s linear infinite 0s;
// }
// .rw-words-1 span:nth-child(2) {
//     -webkit-animation-delay: 3s;
//     -ms-animation-delay: 3s;
//     animation-delay: 3s;
//     color: #6b889d;
// }
// .rw-words-1 span:nth-child(3) {
//     -webkit-animation-delay: 6s;
//     -ms-animation-delay: 6s;
//     animation-delay: 6s;
//     color: #6b739d;
// }
// .rw-words-1 span:nth-child(4) {
//     -webkit-animation-delay: 9s;
//     -ms-animation-delay: 9s;
//     animation-delay: 9s;
//     color: #7a6b9d;
// }
// .rw-words-1 span:nth-child(5) {
//     -webkit-animation-delay: 12s;
//     -ms-animation-delay: 12s;
//     animation-delay: 12s;
//     color: #8d6b9d;
// }
// .rw-words-1 span:nth-child(6) {
//     -webkit-animation-delay: 15s;
//     -ms-animation-delay: 15s;
//     animation-delay: 15s;
//     color: #9b6b9d;
// }
// @-webkit-keyframes rotateWord {
//     0% { opacity: 0; }
//     2% { opacity: 0; -webkit-transform: translateY(-30px); }
//     5% { opacity: 1; -webkit-transform: translateY(0px);}
//     17% { opacity: 1; -webkit-transform: translateY(0px); }
//     20% { opacity: 0; -webkit-transform: translateY(30px); }
//     80% { opacity: 0; }
//     100% { opacity: 0; }
// }
// @-ms-keyframes rotateWord {
//     0% { opacity: 0; }
//     2% { opacity: 0; -ms-transform: translateY(-30px); }
//     5% { opacity: 1; -ms-transform: translateY(0px);}
//     17% { opacity: 1; -ms-transform: translateY(0px); }
//     20% { opacity: 0; -ms-transform: translateY(30px); }
//     80% { opacity: 0; }
//     100% { opacity: 0; }
// }
// @keyframes rotateWord {
//     0% { opacity: 0; }
//     2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
//     5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
//     17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
//     20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
//     80% { opacity: 0; }
//     100% { opacity: 0; }
// }
// @media screen and (max-width: 768px){
//     .rw-sentence { font-size: 18px; }
// }
// @media screen and (max-width: 320px){
//     .rw-sentence { font-size: 9px; }
// }