/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import "rotating-words";
@import "timeline";
@import "folio";


/*------------------------------------------------------
    GENERAL
--------------------------------------------------------*/

.brand-logo {
    font-family: 'Bad Script', cursive;
    span {
        font-size: 15px;
        font-weight: 300;
    }

}
.fa.fa-external-link {
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    height: 0;
}
.section:not(.banner) {
    padding: 4rem 0;
}
.row {
    margin: 0;
}
p {
    line-height: 1.5rem;
}
h5, h6 {
    span {
        font-size: 12px;
    }
}
h5.header {
    line-height: 1.5;
    font-family: 'Bad Script', cursive;
    color: #333;
}

/*------------------------------------------------------
    NAV
--------------------------------------------------------*/
nav.about-nav {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    a {
        font-family: 'Amatic SC', cursive;
        font-size: 22px;
        font-weight: 700;
        color: #333;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.side-nav {
    background-color: white;
    text-align: left;
    border: 0;
}
#sidenav-overlay {
    z-index: 0;
}

/*------------------------------------------------------
    PARALLAX
--------------------------------------------------------*/
/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}
/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b, .content-c {
    display: table-cell;
    position: relative;
    text-align: center;
}
.content-b {
    vertical-align: bottom;
}
.content-c {
    vertical-align: middle;
}
.not-fullscreen {
    height:50%;
}

/*------------------------------------------------------
    SCROLLBAR Styling
--------------------------------------------------------*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*------------------------------------------------------
    FOOTER
--------------------------------------------------------*/
footer.page-footer {
    margin: 0;
    background-color: #1b434c !important;
    .footer-copyright {
        background-color: rgba(51, 51, 51, 0.2);
        height: auto;
    }
    a, span {
        font-family: 'Amatic SC', cursive;
        font-size: 20px;
    }
    h5 {
        font-family: 'Bad Script', cursive;
    }
    .fa {
        margin-right: 7px;
    }
}
