/*SAKURA PETALS*/
/*.sakura-container {
    position: fixed;
    top: 0;
    right: 0;
}
.fallingPetals {
    text-align: center;
}
.fallingPetals span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -280px 40px 54px  -34px;   
    -webkit-animation: fallingPetals 10s infinite  linear;
    -moz-animation: fallingPetals 10s infinite  linear;
}
.fallingPetals span.petal1 {
    background:url("petal1.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.fallingPetals span.petal2 {
    background:url("petal2.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.fallingPetals span.petal3 {
    background:url("petal3.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.fallingPetals span.petal4 {
    background:url("petal4.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.fallingPetals span:nth-of-type(n)   { 
    -webkit-animation-delay: 1.9s;
    -moz-animation-delay:  1.9s;
}
.fallingPetals span:nth-of-type(2n)  { 
    -webkit-animation-delay: 3.9s;
    -moz-animation-delay:  3.9s;
}
.fallingPetals span:nth-of-type(3n)  { 
    -webkit-animation-delay: 2.3s;
    -moz-animation-delay:  2.3s;
}
.fallingPetals span:nth-of-type(4n)  { 
    -webkit-animation-delay: 4.4s;
    -moz-animation-delay:  4.4s;
}
.fallingPetals span:nth-of-type(5n)  { 
    -webkit-animation-delay: 5s;  
    -moz-animation-delay:  5s;  
}
.fallingPetals span:nth-of-type(6n)  { 
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay:  3.5s;
}
.fallingPetals span:nth-of-type(7n)  { 
    -webkit-animation-delay: 2.8s;
    -moz-animation-delay:  2.8s;
}
.fallingPetals span:nth-of-type(8n)  { 
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay:  1.5s;
}
.fallingPetals span:nth-of-type(9n)  { 
    -webkit-animation-delay: 3.3s;
    -moz-animation-delay:  3.3s;
}
.fallingPetals span:nth-of-type(10n) { 
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay:  2.5s;
}
.fallingPetals span:nth-of-type(11n) { 
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:  1.2s;
}
.fallingPetals span:nth-of-type(12n) { 
    -webkit-animation-delay: 4.1s;
    -moz-animation-delay:  4.1s;
}
.fallingPetals span:nth-of-type(13n) { 
    -webkit-animation-delay: 1s;  
    -moz-animation-delay:  1s;  
}
.fallingPetals span:nth-of-type(14n) { 
    -webkit-animation-delay: 4.7s;
    -moz-animation-delay:  4.7s;
}
.fallingPetals span:nth-of-type(15n) { 
    -webkit-animation-delay: 3s;  
    -moz-animation-delay:  3s;  
}

@-webkit-keyframes fallingPetals {
    
    0% {
        -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-350px,700px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes fallingPetals {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(-20deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-230px,640px,0)
            rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes fallingPetals {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(90deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
        opacity: 0;
    }
}
*/





/* This CSS rule is applied to all div elements in the sakuraContainer div.
   It styles and animates each leafDiv.
*/
#sakuraContainer {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
}

#sakuraContainer > div {
   position: absolute;
   width: 100%;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-timing-function: linear, ease-in;
}


/* This CSS rule is applied to all img elements directly inside div elements which are
   directly inside the sakuraContainer div. In other words, it matches the 'img' elements
   inside the leafDivs which are created in the createALeaf() function.
*/

#sakuraContainer > div > img {
    position: absolute;
    width: 17px;
    height: 17px;
    /* We use the following properties to adjust the clockwiseSpin or counterclockwiseSpinAndFlip
       animations on each leaf.
       The createALeaf function in the Leaves.js file determines whether a leaf has the 
       clockwiseSpin or counterclockwiseSpinAndFlip animation.
    */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform-origin: 50% -100%;
}


/* Hides a leaf towards the very end of the animation */

@-webkit-keyframes fade {
  /* Show a leaf while into or below 95 percent of the animation and hide it, otherwise */
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Makes a leaf fall from -300 to 600 pixels in the y-axis */

@-webkit-keyframes drop {
  /* Move a leaf to -300 pixels in the y-axis at the start of the animation */
  0% {
    -webkit-transform: translate(0px, -50px);
  }
  /* Move a leaf to 600 pixels in the y-axis at the end of the animation */
  100% {
    -webkit-transform: translate(0px, 650px);
  }
}


/* Rotates a leaf from -50 to 50 degrees in 2D space */

@-webkit-keyframes clockwiseSpin {
  /* Rotate a leaf by -50 degrees in 2D space at the start of the animation */
  0% {
    -webkit-transform: rotate(-50deg);
  }
  /*  Rotate a leaf by 50 degrees in 2D space at the end of the animation */
  100% {
    -webkit-transform: rotate(50deg);
  }
}


/* Flips a leaf and rotates it from 50 to -50 degrees in 2D space */

@-webkit-keyframes counterclockwiseSpinAndFlip {
  /* Flip a leaf and rotate it by 50 degrees in 2D space at the start of the animation */
  0% {
    -webkit-transform: scale(-1, 1) rotate(50deg);
  }
  /* Flip a leaf and rotate it by -50 degrees in 2D space at the end of the animation */
  100% {
    -webkit-transform: scale(-1, 1) rotate(-50deg);
  }
}

















